// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

// 贝黎诗颜色
$palaispa-blue = rgba(18, 50, 100, 1);
$palaispa-orange = rgba(237, 171, 30, 1);

// 贝黎诗辅助色
$palaispa-gray = rgba(180, 181, 181, 1);
$palaispa-lightgreen = rgba(175, 205, 210, 1);
$palaispa-ligntorange = rgba(239, 188, 146, 1);