// 基本颜色
$white = #ffffff;
$black = #000000;

// 贝黎诗颜色
$palaispa-blue = rgba(18, 50, 100, 1);
$palaispa-orange = rgba(237, 171, 30, 1);

// 贝黎诗辅助色
$palaispa-gray = rgba(180, 181, 181, 1);
$palaispa-lightgreen = rgba(175, 205, 210, 1);
$palaispa-lightorange = rgba(239, 188, 146, 1);
$palaispa-lightgray = #f0f3f8;
